body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
}

header {
  background-color: rgb(0, 0, 150); 
  color: #fff; 
  padding: 10px;
  text-align: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}

header img {
  margin-right: 10px; 
}

.blue-line {
    border: none;
    height: 10px; 
    background-color: rgb(0, 0, 150);
    margin: 0;
}

.container {
  width: 1350px; 
  margin: 0 auto; 
  padding: 0px; 
  margin-top: 60px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-top: 0px;
  margin-top: 34px;
  background-color: rgb(227, 245, 255);
}

nav {
  background-color: #77c4ff; 
  color: #000000; 
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 10px 20px; 
  border-right: 1px dotted #000000; 
  font-weight: 200;
}


li:last-child a {
  border-right: none;
}

.school-logo {
  width: 200px; 
  height: auto; 
}
.logo-container {
  display: flex;
  align-items: center; 
}

.school-name {
  margin-left: 20px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px; 
  font-weight: bold; 
  color: #333;
}

.content {
  margin: 20px 0; 
  display: flex;
  align-items: center;
  background-color: #fff;
  text-align: justify; 
  overflow: auto;
}

.content-photo {
  max-width: 530px; 
  margin-right: -14px; 
  padding: 30px;
}

.content-message {
  font-size: 18px; 
  line-height: 1.4; 
  color: #333; 
  margin-right: 31px;
  font-family: 'Sometype Mono', monospace;
  line-height: 1.7;
}
.content p {
  margin-top: 48px; 
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #77c4ff;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.stack-container {
  width: 210px; 
  padding: 0px; 
  margin-top: 60px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-top: 0px;
  margin-top: 34px;
  background-color: rgb(255, 255, 255);
  margin-left: 30px;
}


.stack-container .links a {
  display: block;
  margin: 10px 0; 
  text-decoration: none;
  color: #333; 
  font-weight: bold; 
  border-bottom: 1px dotted #000;
}


footer {
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  padding: 10px;
  height: 28px;
}

.footer-content {
  font-size: 18px;
}


